.donate{
  background-color: #F7EBF3;
  padding-top: 30vh;
}

.donate_header {
  display: flex;
  justify-content: space-between;
  height: 65vh;
}

.donate_headertextdiv {
  /* width: 70%; */
  max-width: 65%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly
}

.donate_header h1 {
  font-size: 40px;
  font-weight: 700;
  width: 35vw;
  font-family: 'Fahkwang';
  font-style: normal;
}

.donate_header p {
  width: 40vw;
  font-size: 20px;
  font-family: 'Imprima';
  font-style: normal;
  font-weight: 400;
}

.donate_banner {
  max-width: 500px;
  max-height: 300px;
}

.donate_header2 {
  width: 50%;
  margin: auto;
  text-align: center;
  font-family: 'Fahkwang';
  font-style: normal;
  font-weight: 400;
  color: #322332;
  font-size: 1.5rem;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(270deg, rgba(52, 37, 52, 0.5) 16.67%, #342534 51.04%, rgba(52, 37, 52, 0.5) 81.77%);
  border-image-slice: 1;
}


.donate_clubsparent {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 5rem;
  justify-content: center;
}

.donateclub {
  max-width: 18rem;
  background-color: rgba(240, 248, 255, 0.756);
  border-radius: 10px;
  margin-bottom: 3rem;
  padding-top: 10px;
  position: relative;
  font-family: 'Fahkwang';
  font-style: normal;
  cursor: pointer;
  z-index: 0;
}

.donatelogo {
  max-width: 18rem;
  max-height: 13rem;
  margin-bottom: 20px;
}

.donateclub_textdiv {
  padding: 1rem;

  text-align: center;
  margin-bottom: 20px;
}

.donateclub_textdiv p:nth-child(1) {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.donateclub_location {
  position: absolute;
  bottom: -10px;
  text-align: center;
  min-width: 18rem;
  font-style: italic;
}

.donateclub_location span {
  font-style: normal;
}

.modal {
  backdrop-filter: blur(3px);
  font-family: 'Fahkwang';
  font-style: normal;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 430px) and (min-width: 0px) {
  .donate_header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 40vh;
    margin-bottom: 5vh;
  }

  .donate_headertextdiv {
    height: 10vh;
    margin-top: 0vh;
    max-width: 400px;
    justify-content: none;
    align-items: center;
  }

  .donate_header h1 {
    font-size: 30px;
    font-weight: 400;
    width: 400px;
    padding: 20px;
  }

  .donate_header p {
    width: 400px;
    font-size: 20px;
    font-family: 'Imprima';
    font-style: normal;
    font-weight: 400;
    padding: 20px;
  }

  .donate_banner {
    max-width: 300px;
    max-height: 200px;
  }
}