/* font-family: "Montserrat", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');


.navbod{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color:#322332 ;
    color: white;
    position: fixed;
}
.navleft{
    font-family: 'Island Moments';
    margin-left: 60px;
    font-size: 1.6rem;
    font-family: cursive;
}
.navright{
    margin-right: 60px;
    display: flex;
    text-align: center;
}
.navright p{
    cursor: pointer;
    font-size: 1.1rem;
    font-family: 'Imprima';
    font-style: normal;
    padding: 20px;
    padding-top: 30px;
}
.navright p:hover{
  color: #F78BD1;
}